[package]
name = "crater"
version = "0.1.0"
authors = [
    "Brian Anderson <banderson@mozilla.com>",
    "Pietro Albini <pietro@pietroalbini.org>",
]
edition = "2018"

build = "build.rs"

[profile.dev]
opt-level = 0

[dependencies]
base64 = "0.10.0"
bytes = "0.4.9"
chrono = { version = "0.4", features = ["serde"] }
chrono-humanize = "0.0.11"
crates-index = "0.12"
crossbeam-utils = "0.5"
csv = "1.0.2"
dotenv = "0.13"
error-chain = "0.12"
failure = "0.1.3"
flate2 = "1"
futures = "0.1.13"
http = "0.1.10"
hyper = "0.12.8"
lazy_static = "1.0"
mime = "0.3.1"
minifier = { version = "0.0.20", features = ["html"] }
nix = "0.11.0"
paste = "0.1.3"
petgraph = "0.4.11"
r2d2 = "0.8.2"
r2d2_sqlite = "0.7.0"
rand = "0.5"
ref_slice = "1.1.1"
regex = "1.0"
reqwest = "0.9"
rusoto_core = "0.35.0"
rusoto_credential = "0.14.0"
rusoto_s3 = "0.35.0"
rusqlite = { version = "0.15.0", features = ["chrono", "functions", "bundled"] }
scopeguard = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_regex = "0.3.0"
structopt = "0.2"
structopt-derive = "0.2"
tar = "0.4.0"
tempfile = "3.0.0"
tera = "0.11.7"
tokio = "0.1.11"
tokio-process = "0.2.3"
toml = "0.4.6"
url = "1.1"
walkdir = "2"
warp = "0.1.9"
winapi = "0.3"
log = "0.4.6"
env_logger = "0.6.0"
hmac = "0.7"
sha-1 = "0.8"
rust_team_data = { git = "https://github.com/rust-lang/team" }
systemstat = "0.1.4"

[dev-dependencies]
assert_cmd = "0.10.1"
difference = "2.0.0"
num_cpus = "1.8.0"
predicates = "1.0.0"
