[server.bot-acl]
# Allow rust team members defined in https://github.com/rust-lang/team
rust-teams = true
# The list of GitHub users allowed to interact with the GitHub bot
# You can mix usernames and teams
github = []

[server.labels]
# Remove all labels matching this regex when applying new labels
remove = "^S-"
# Automatically apply the following labels to issues/pull requests
experiment-queued = "S-waiting-on-crater"
experiment-completed = "S-waiting-on-review"

# This section contains the list of tested crates when defining an experiment
# with `--crate-select demo`.

[demo-crates]
crates = ["lazy_static"]
github-repos = ["brson/hello-rs"]
local-crates = []

[sandbox]
# Maximum amount of RAM allowed during builds
memory-limit = "1536M"  # 1.5G
# Restrictions on the amount of information stored in build logs
build-log-max-size = "5M"
build-log-max-lines = 10000


# These sections allows to customize how crater treats specific crates/repos
#
# The available options for each crate/repo are:
#  - skip            (bool): ignore this crate/repo
#  - skip-tests      (bool): don't run tests in this crate/repo
#  - quiet           (bool): don't kill after two minutes without output
#  - broken          (bool): treat a Crater error on this crate/repo as a build
#                            failure (typically the crate is broken in an
#                            unusual way and we want to indicate the failure
#                            is 'permissible', while still building it if the
#                            failure is resolved in the future)

# Please add a comment along with each entry explaining the reasons of the
# changes, thanks!

[crates]
# crate_name = { option = true }
actix = { skip-tests = true } # flaky test
ai = { skip-tests = true } # may fail due to randomness
alumina = { skip = true } # flaky build
atlas-coverage-core = { skip-tests = true } # flaky tests
bitrust = { skip = true } # buggy build script
caesarlib = { skip-tests = true } # flaky test
catboost2-sys = { skip = true } # requires rustfmt
cc = { skip-tests = true } # flaky test
chef_api = { skip-tests = true } # flaky tests
ci_info = { skip-tests = true } # flaky tests
coinnect = { skip-tests = true } # flaky test
csv = { skip-tests = true } # flaky test
ctx = { skip-tests = true } # tests depends on timing
diskvec = { skip-tests = true } # flaky test
esprit = { broken = true } # broken Cargo.toml
fe_session = { skip-tests = true } # flaky test
feed = { skip-tests = true } # flaky test
fftw = { slow = true } # build time close to 2 minutes
fine_grained = { skip-tests = true } # flaky tests
gaffer = { skip-tests = true } # flaky tests (timing-dependent)
gcc = { skip-tests = true } # flaky test
gear = { skip = true } # flaky build
geocode = { skip-tests = true } # depends on network
glib = { slow = true } # tests slow to run
guerrilla = { skip-tests = true } # flaky tests
hashconsing = { skip-tests = true } # flaky test
hopscotch = { skip-tests = true } # flaky tests (quickcheck + inconsistent ords)
hyperdav = { skip-tests = true } # relies on an external service
idx = { skip-tests = true } # depends on filesystem
image-stream = { skip-tests = true } # depends on network
ipc-channel = { slow = true } # tests slow to run
jemalloc-ctl = { skip-tests = true } # flaky tests
ledger-transport-zemu = { skip = true } # buggy build script
libfuzzy-sys = { skip = true } # flaky build
loadconf = { skip-tests = true } # flaky test
loaded_dice = { skip-tests = true } # may fail due to randomness
lockless = { skip-tests = true } # test timeout
mccs-caps = { skip-tests = true } # flaky test
median_three_quicksort = { skip-tests = true } # sorting library that sometimes doesn't sort (WTF)
milagro-crypto = { skip-tests = true } # flaky test (segfaults)
mish = { skip-tests = true } # flaky test (bad math)
modbus = { skip-tests = true } # flaky test
moonlander-gp = { skip-tests = true } # may fail due to randomness
net-utils = { skip-tests = true } # depends on network
nexus-rs = { skip-tests = true } # flaky tests
nss-sys = { skip-tests = true } # flaky test (sefaults)
poolite = { skip-tests = true } # flaky test
proxy_config = { skip-tests = true } # flaky tests
quicksort_gen = { skip-tests = true } # flaky tests
read-process-memory = { skip-tests = true } # flaky tests
region = { skip-tests = true } # flaky tests
restson = { skip-tests = true } # uses HTTP requests
rspotify = { slow = true } # slow build
rustlearn = { skip-tests = true } # non-deterministic
rusty_v8 = { broken = true } # depends on network
s_app_dir = { skip-tests = true } # flaky tests
sacn = { skip-tests = true } # Tests just fail if RUST_TEST_THREADS > 1 -author
sbrsk = { skip-tests = true } # flaky tests
silk = { slow = true } # tests slow to run
simd = { broken = true } # missing feature
simple-munin-plugin = { skip-tests = true } # flaky test
slotmap = { skip-tests = true } # flaky tests
sodium-rust = { skip-tests = true } # flaky tests
structopt = { broken = true } # missing feature
sysconf = { skip-tests = true } # flaky test
tasks-framework = { skip-tests = true } # flaky tests
theban_interval_tree = { skip-tests = true } # flaky tests
tokio = { broken = true } # missing feature
tokio-periodic = { skip-tests = true } # flaky tests
tokio-rustls = { broken = true } # missing feature
touch = { skip-tests = true } # depends on the filesystem
treeflection = { skip-tests = true } # flaky test
update_rate = { skip-tests = true } # flaky tests
urdf-viz = { skip = true } # flaky build
vidar = { skip-tests = true } # flaky test
workpool = { skip-tests = true } # flaky tests (timing + thread::sleep in pool::collect_into_vec tests)
carboxyl_time = { skip-tests = true } # flaky test (timing)
cobalt = { skip-tests = true } # flaky test (timing)
conduit-hyper = { skip-tests = true } # flaky test (timing)
serialport = { skip-tests = true } # flaky test (timing)
smartpool = { skip-tests = true } # flaky test (timing)
softposit = { skip-tests = true } # flaky test (rng)
test-patience = { skip-tests = true } # flaky test (timing)
timekeeper = { skip-tests = true } # flaky test (timing)
tokio-proto = { skip-tests = true } # flaky test (concurrency)
toql_derive = { skip-tests = true } # flaky test ("Sometimes failes becuse join order different")
niftygate-asset = { skip = true } # cfg for stable/nightly, but not beta
futuredsp = { skip = true } # cfg for stable/nightly, but not beta
buildstructor = { skip-tests = true } # compiler error checks in tests
crokey = { skip-tests = true } # compiler error checks in tests
heap-vec = { skip-tests = true } # UB, sometimes segfaults
k2_tree = { skip-tests = true } # UB, sometimes segfaults
stabby-macros = { skip = true } # broken rustc version parsing
stabby = { skip = true } # broken rustc version parsing
knetrs = { skip-tests = true } # UB
yices2 = { skip = true } # Sometimes times out, sometimes doesn't
scheduled-executor = { skip-tests = true } # UB, allocator corruption
skippy-rs = { skip-tests = true } # UB, out-of-bounds get_unchecked
pepe-telemetry = { skip-test = true } # flaky test (concurrency)
watchable = { skip-tests = true } # flaky test (timing)
lispi = { skip-tests = true } # flaky test (data races)
cargo-ramdisk = { skip-tests = true } # flaky test (concurrency)
njord = { skip-tests = true } # flaky test
matecito = { skip-tests = true } # flaky test (timing)
namaste = { skip-tests = true} # flaky test
faktory = { skip-tests = true } # UB via atomic-option
gazebo = { skip-tests = true } # UB but only in the test suite
context_bind = { skip-tests = true } # UB
unbounded-spsc = { skip-tests = true } # UB
vtable_gen = { skip-tests = true } # UB
crt0stack = { skip-tests = true } # UB
fsdr-blocks = { skip = true } # does not build on beta
leptos_core = { skip = true } # does not build on beta
rustc_get_version = { skip = true } # does not build on beta
deadpool = { skip-tests = true } # flaky tests (timing)
exclave = { skip-tests = true } # synchronization issue with mutex access
fides = { skip-tests = true } # depends on `HashMap` iteration order
kaiser = { skip-tests = true } # UB
music-player-settings = { skip-tests = true } # flaky tests when run concurrently (mutates shared environment variables)
nextera_jwt = { skip-tests = true } # flaky tests (relies on test execution order to set environment variable)
nu_plugin_ws = { skip-tests = true } # flaky test (timing)
rskin = { skip-tests = true } # tests depend on filesystem layout
quanta = { skip-tests = true } # flaky test (timing)
single_executor = { skip-tests = true } # flaky test (timing)

[github-repos]
# "org_name/repo_name" = { option = true }
"clinuxrulz/sodium-rust-push-pull" = { skip-tests = true } # flaky test
"euforia/rust-vivaldi" = { skip-tests = true } # flaky test
"exclave/exclave" = { skip-tests = true } # flaky test
"fromheten/plato" = { skip-tests = true } # flaky tests
"jafow/pals" = { skip-tests = true } # flaky tests
"johnedmonds/chance" = { skip-tests = true } # flaky tests
"lht102/coding-problems-practice" = { skip-tests = true } # version-dependent tests (sort_unstable_by ordering)
"LukeMathWalker/tracing-bunyan-formatter" = { skip-tests = true } # flaky tests
"nilsmartel/act" = { skip-tests = true } # flaky tests
"nt-ca-aqe/kitchen-kata-async-rust" = { skip-tests = true } # flaky tests
"simulacrumparty/casaubon" = { skip-tests = true } # flaky tests
"sozu-proxy/sozu" = { skip-tests = true } # flaky tests
"kellymclaughlin/rust-quickcheck-example" = { skip-tests = true } # flaky tests
"otaviopace/minigrep" = { skip-tests = true } # flaky tests
"wischli/rpaillier" = { skip-tests = true } # flaky tests
"AntonChernev/suffix-tree-search" = { skip-tests = true } # flaky tests
"0xpr03/yayd" = { skip-tests = true } # network in tests
"gclark916/vulkano_examples" = { skip = true } # spurious proc macro error
"gclark916/vulkano_tri1" = { skip = true } # spurious proc macro error
"Ayrx/binja-rs-hello-world" = { skip = true } # shared directory messed up by first build
"Ninja3047/load-symbols" = { skip = true } # shared directory messed up by first build
"etke/bff" = { skip = true } # shared directory messed up by first build
"APTy/icmp" = { skip-tests = true } # network in tests
"GothAck/rs-async-debug" = { skip-tests = true } # compiler error checks in tests
"hank-der-hafenarbeiter/imperative-rs" = { skip-tests = true } # compiler error checks in tests
"Sanchos01/weather" = { skip-tests = true } # network in tests
"appaquet/extsort-rs" = { skip-tests = true } # flaky tests
"ardeaf/redelete" = { skip-tests = true } # network in tests
"baoziv587/LoxLang" = { skip-tests = true } # flaky tests
"ciusji/eureka" = { skip-tests = true } # flaky tests
"cpard/cuckoo" = { skip-tests = true } # flaky tests (random)
"fedormatantsev/rust-components-prototype" = { skip-tests = true } # flaky tests
"naomijub/genetic-labyrinth" = { skip-tests = true } # flaky tests
"sachaarbonel/trie.rs" = { skip-tests = true } # flaky tests
"vspecky/neat-rs" = { skip-tests = true } # flaky tests
"mistrpopo/MandelbrotAnimation" = { skip-tests = true } # second build seems to always fail
"bastibl/futuresdr" = { skip = true } # unstable features
"FutureSDR/FutureSDR" = { skip = true } # unstable features
"yamgent/rusty-jam-2-dog-chicken" = { skip-tests = true } # UB
"Liorst4/liorforth" = { skip-tests = true } # UB
"perlindgren/fastmem" = { skip-tests = true } # UB
"aharisu/navi" = { skip-tests = true } # UB, allocator corruption
"fkjogu/stochasticsampling" = { skip-tests = true } # UB, allocator corruption
"senrust/toy_compiler2" = { skip-tests = true } # UB when tests run concurrently
"Yogaflre/leetcode" = { skip-tests = true } # UB
"UndeadRat22/kzg10-rust" = { skip-tests = true } # Wraps a non-thread-safe C++ library
"JakeDawkins/graphql-client-302-repro" = { skip = true } # Stack overflow in a proc macro
"cdstanford/hydroflow-hackathon" = { skip-tests = true } # UB in a proc macro
"hydro-project/compute-pi" = { skip-tests = true } # UB in a proc macro
"KatsukiFujimoto/git-rs" = { skip-tests = true } # flaky test (HashSet iteration)
"MarkChuCarroll/schism" = { skip-tests = true } # flaky test (concurrency)
"Osrepnay/algae" = { skip-tests = true } # flaky test (timing)
"Yichangcs/Ruscheme" = { skip-tests = true } # flaky test (concurrency)
"bakaq/rust-blackhole" = { skip-tests = true } # flaky test (rng)
"diegoasanch/advent-of-code-2023" = { skip-tests = true } # flaky test (HashMap iteration)
"grnmeira/Snake" = { skip-tests = true } # flaky test (rng)
"wojciechkepka/pkger" = { skip-tests = true } # flaky test (concurrency)
"xffxff/muzero-rs" = { skip-tests = true } # flaky test (rng)
"maxjeffos/rs_dynamic_args" = { skip-tests = true } # flaky test (concurrency)
"AntiHero/leptos_fun" = { skip = true } # broken cfg for beta
"samcarey/drop_block_test" = { skip = true } # broken cfg for beta
"c0repwn3r/mangrove" = { skip = true } # broken beta rustc version parsing
"zbzalex/rustc_get_version" = { skip = true } # broken beta rustc version parsing
"ns6251/spin-cookie-token-sample" = { skip = true } # invalid dep tree, spuriously compiles
"daniestevez/qsdr" = { skip = true } # cfg for stable/nightly, but not beta
"Buggaboo/flat_sqlite_rs" = { skip = true } # proc macro causes nondeterministic compile error
"Arxoto/sudoku" = { skip-tests = true } # memory corruption with static mut
"Awaiskhan404/flash-db" = { skip-tests = true } # Reused port in multiple tests
"Cobord/EventEmit" = { skip-tests = true } # timing-sensitive
"DevOpsJen/BORE" = { skip-tests = true } # race condition
"FlixCoder/EvoResNN" = { skip-tests = true } # algorithm uses randomness
"JPMoresmau/rust-linear" = { skip-tests = true } # algorithm uses randomness
"July-Tea/jsonfixer" = { skip-tests = true } # timing-sensitive
"Juules32/unnamed-chess-engine" = { skip-tests = true } # memory corruption, presumably UB, given the excessive unsafe code
"KKKZOZ/mini-lsm" = { skip-tests = true } # presumably a race condition, given that the test has a sleep() call
"KeKsBoTer/tenXten" = { skip-tests = true } # algorithm uses randomness
"KermanX/ecma_analyzer" = { skip-tests = true } # tried to write to read-only filesystem
"Kim8584/multiplicative_subgroup_generator" = { skip-tests = true } # relies on HashSet order
"LegendarySaiyan/structures" = { skip-tests = true } # new() function creates dangling pointer
"MathiasBjerggaard/3DCylinderSimulation" = { skip-tests = true } # algorithm uses rng
"anatols/atomic_sibling_counter" = { skip-tests = true } # flaky tests when run concurrently (mutates shared allocator state)
"aubex/pytron" = { skip-tests = true } # flaky tests when run concurrently (mutates shared environment variable)
"conradludgate/plunger" = { skip-tests = true } # flaky test (timing)
"marziply/emotech-grpc" = { skip-tests = true } # flaky tests when run concurrently (all try to open socket on same address)
"olegfomenko/valida-examples" = { skip-tests = true } # test requires custom toolchain and specific target

[local-crates]
