* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;

    background: #eee;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 65rem;
    margin: auto;
}


.red {
    color: #f00;
}

.green {
    color: #080;
}

.orange {
    color: #f80;
}

.blue {
    color: #00f;
}

.text-center {
    text-align: center !important;
}

.empty {
    color: #888;
    padding: 1em;
    text-align: center;
}


.http-error {
    text-align: center;
    font-size: 1.1em;
    margin: 2em;
}

.http-error b {
    display: block;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0.1em;
}


header {
    background: #fff;
    box-shadow: 0 0.2em 0.2em rgba(200, 200, 200, 0.1);
    margin-bottom: 1.5em;
}

header div.wrapper {
    display: flex;
    align-items: center;
}

header h1 {
    flex: 1;

    margin: 0;
    padding: 0.5em 0;
    font-size: 1.4em;
    font-weight: 400;
}

header ul {
    flex: 1;
    text-align: right;

    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    margin-left: 0.7em;
}


div.title {
    display: flex;
    margin: 1.5em 0;
    align-items: center;
}

div.title h1 {
    flex: 1;
    margin: 0;

    font-weight: 400;
    color: #444;
}

div.title h1 b {
    font-weight: 400;
    color: #000;
}

div.title div.toolbar {
    flex: 0 content;
}

div.title div.toolbar a.button {
    display: inline-block;
    padding: 0.5em 0.7em;

    border: 1px solid #00f;
    border-radius: 0.2em;
}

div.title div.toolbar a.button + a.button {
    margin-left: 0.5em;
}

div.title div.toolbar a.button:hover {
    color: #fff;
    background: #00f;
    text-decoration: none;
}


div.card {
    display: block;

    background: #fff;
    box-shadow: 0 0.2em 0.2em rgba(200, 200, 200, 0.1);
    padding: 0.75em;
    margin: 1em 0;
    border-radius: 0.2em;
}

div.card > *:first-child {
    margin-top: 0 !important;
}

div.card > *:last-child {
    margin-bottom: 0 !important;
}

div.card ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

div.card ul li {
    margin: 0;
    padding: 0;
    margin-top: 0.4em;

    color: #888;
}

div.card ul li:first-child {
    margin-top: 0;
}

div.card ul li b {
    color: #000;
    font-weight: inherit;
    display: inline-block;
    margin-left: 0.5em;
}


div.columns {
    display: flex;
    margin: 0 -0.5em;
}

div.columns div.col {
    flex: 1;
    margin: 0 0.5em;
}

div.col > *:first-child {
    margin-top: 0 !important;
}

div.col > *:last-child {
    margin-bottom: 0 !important;
}


table.list {
    width: 63rem;
    border-collapse: collapse;
}

table.list tr th, table.list tr td {
    padding: 0.7em 0.5em;
}

table.list tr th {
    font-weight: 400;
    text-align: left;
    color: #888;
}

table.list tr td {
    border-top: 1px solid #eee;
}


table.details {
    width: 100%;
}

table.details th {
    font-weight: 400;
    color: #888;
    text-align: right;

    width: 1%;
    white-space: nowrap;
    padding-right: 1em;
}

table.details tr th, table.details tr td {
    padding-top: 0.1em;
}

table.details tr:first-child th, table.details tr:first-child td {
    padding-top: 0;
}


footer {
    margin: 1.5rem 0;
    font-size: 0.9em;
    text-align: center;
    color: #888;
}

footer a {
    color: #333;
}


@media all and (max-width: 60rem) {
    header div.wrapper {
        display: block;
        text-align: center;
    }

    header ul {
        text-align: center;
        padding-bottom: 1em;
    }


    div.columns {
        display: block;
    }


    div.card {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
