{% macro toolchain_name(tc) %}
    {%- if tc.Dist -%}
        {{ tc.Dist }}
    {%- elif tc.TryBuild -%}
        <a href="https://github.com/rust-lang/rust/commit/{{ tc.TryBuild.sha }}">
            try#{{ tc.TryBuild.sha }}
        </a>
    {%- elif tc.Master -%}
        <a href="https://github.com/rust-lang/rust/commit/{{ tc.Master.sha }}">
            master#{{ tc.Master.sha }}
        </a>
    {%- else -%}
        {{ tc|json_encode }}
    {%- endif -%}
{% endmacro %}

{% macro render_time(date) %}
    {{ date | date }}
    {{ date | date(format="%H:%M:%S") }}
    UTC
{% endmacro %}
