{% macro toolchain_name(tc) %}
    {%- if tc.source.type == "dist" %}
        {{ tc.source.name }}
    {%- elif tc.source.type == "ci" %}
        <a href="https://github.com/rust-lang/rust/commit/{{ tc.source.sha }}">{{ tc.source.sha }}</a>
    {%- else -%}
        {{ tc.source|json_encode }}
    {%- endif -%}

    <div class="flags">
        {% if tc.rustflags %}
            <span>rustflags: <code>{{ tc.rustflags }}</code></span>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_time(date) %}
    {{ date | date }}
    {{ date | date(format="%H:%M:%S") }}
    UTC
{% endmacro %}

{% macro crate_div(crate) %}
    <div class="crate">
        <a href="{{ crate.url|safe }}" target="_blank" rel="noopener">{{ crate.name }}</a>
        {% for run in crate.runs %}
            <span class="run">
                {% if run %}
                    <b class="r{{ run.res }}"></b>
                    <a href="{{ run.log|safe }}/log.txt">{{ result_names[run.res] }}</a>
                {% else %}
                    <b class="c{{ crate.res }}"></b>
                    {{ crate.res }}
                {% endif %}
            </span>
        {% endfor %}
    </div>
{% endmacro %}