{% extends "layout.html" %}

{% block title -%} Queue {%- endblock %}

{% block content %}
    <div class="wrapper">
        <div class="card">
            {% if experiments|length %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th width="20%">Assigned to</th>
                        <th width="1%" class="text-center">Priority</th>
                        <th width="1%" class="text-center">Progress</th>
                        <th width="20%" class="text-center">Status</th>
                    </tr>
                    {% for experiment in experiments %}
                        <tr>
                            <td>{{ experiment.name }}</td>
                            <td>
                                {% if experiment.assigned_to %}
                                    {{ experiment.assigned_to }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center">{{ experiment.priority }}</td>
                            <td class="text-center">{{ experiment.progress }}%</td>
                            <td class="text-center {{ experiment.status_class }}">{{ experiment.status_pretty }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="empty">No experiment in the queue.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
