{%- import "macros.html" as macros -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ static_url }}report.css">
    </head>
    <body>
        <header>
            <div>
                Experiment: {{ ex.name }}
            </div>
            <div>
                Toolchain 1: {{ macros::toolchain_name(tc=ex.toolchains[0]) }}
            </div>
            <div>
                Toolchain 2: {{ macros::toolchain_name(tc=ex.toolchains[1]) }}
            </div>
            <div>
                Total crates: {{ crates_count }}
            </div>
        </header>

        <div id="controls">
            {% for comparison, count in summary %}
            <span class="s-{{ comparison }} toggle" data-toggle=".s-{{ comparison }}">
                {{ comparison }}
                <span class="count">{{ count }}</span>
            </span>
            {% endfor %}
        </div>
        {% if not full %}
            <p>
                This report only shows the {{ res.crates|length }} relevant
                results.
                <a href="full.html">Load all the {{ crates_count }} crates</a>
            </p>
        {% endif %}
        <div id="results">
            <div>
                <span>name</span><span>toolchain 1</span><span>toolchain 2</span>
            </div>
            {% for crate in res.crates -%}
                <div class="s-{{ crate.res }}">
                    <span>
                        <a href="{{ crate.url|safe }}" target="_blank" rel="noopener">
                            {{ crate.name }}
                        </a>
                    </span>
                    {% for run in crate.runs -%}
                        <span>
                            {% if run %}
                                <a href="{{ run.log|safe|urlencode }}/log.txt">{{ run.res }}</a>
                            {% else %}
                                {{ crate.res }}
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
            {%- endfor %}
        </div>

        <script src="{{ static_url }}report.js"></script>
    </body>
</html>
