{% extends "ui/layout.html" %}
{% import "macros.html" as macros %}

{% block title -%} Agents {%- endblock %}

{% block content %}
    <div class="wrapper">
        <div class="card">
            {% if agents|length %}
                <table class="list">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Last heartbeat</th>
                        <th>Assigned experiment</th>
                        <th>Source code</th>
                    </tr>
                    {% for agent in agents %}
                        <tr>
                            <td>{{ agent.name }}</td>
                            <td class="{{ agent.status_class }}">{{ agent.status_pretty }}</td>
                            <td>
                                {% if agent.last_heartbeat %}
                                    {{ macros::render_time(date=agent.last_heartbeat) }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if agent.assigned_experiment %}
                                    <a href="/ex/{{ agent.assigned_experiment }}">
                                        {{ agent.assigned_experiment }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if agent.git_revision %}
                                    <a rel="noopener" target="_blank" href="https://github.com/rust-lang-nursery/crater/commit/{{ agent.git_revision }}">
                                        {{ agent.git_revision }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="empty">No available agent.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
