{% extends "ui/layout.html" %}

{% block title -%} Queue {%- endblock %}

{% block content %}
    <div class="wrapper">
        <div class="card">
            {% if experiments|length %}
                <table class="list">
                    <tr>
                        <th>Name</th>
                        <th width="20%">Assigned to</th>
                        <th width="10%">Reqs</th>
                        <th width="15%"class="text-center">Mode</th>
                        <th width="1%" class="text-center">Priority</th>
                        <th width="20%" class="text-center">Status</th>
                    </tr>
                    {% for experiment in experiments %}
                        <tr>
                            <td><a href="/ex/{{ experiment.name }}">{{ experiment.name }}</a></td>
                            <td>
                                {% if experiment.assigned_to %}
                                    {{ experiment.assigned_to }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if experiment.requirement %}
                                    {{ experiment.requirement }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center">{{ experiment.mode }}</td>
                            <td class="text-center">{{ experiment.priority }}</td>
                            <td class="text-center {{ experiment.status_class }}">
                                {{ experiment.status_pretty }}
                                {% if experiment.progress != 0 and experiment.progress != 100 %}
                                    ({{ experiment.progress }}%)
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="empty">No experiment in the queue.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
