body {
    font-family: sans-serif;
    background-color: #111;
    color: #eee;
}

body > * {
    margin: 1rem;
}

a {
    color: #eee;
}

#controls, #results td {
    color: #eee;
}

header > div {
    margin-top: 1rem;
}

header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

th {
    text-align: left;
}

#controls > span {
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.regressed {
    background-color: #DB3026;
}

.fixed {
    background-color: #5630DB;
}

.same-fail {
    background-color: #65461E;
}

.same-build-pass {
    background-color: #788843;
}

.same-test-pass {
    background-color: #72A156;
}

.unknown {
    background-color: #494B4A;
}

#controls {
    line-height: 2em;
    margin-bottom: 2rem;
}

#controls > span {
    white-space: nowrap;
}

#controls > span:hover {
    cursor: pointer;
}

#controls > span {
    border: 0.2rem solid #111;
}

#controls > span.selected {
    border: 0.2rem solid #eee;
}

#controls .count::before {
    content: "( ";
    opacity: 0.5;
}

#controls .count::after {
    content: " )";
    opacity: 0.5;
}

#results > div {
    display: none;
    width: 41em;
    padding: 0.4em;
    border-bottom: 0.2rem solid #222;
}

#results > div.header {
    display: block;
}

#results > div.visible {
    display: block;
}

#results > div > span {
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipses;
    display: inline-block;
}

#results > div > span:first-child {
    width: 24em;
    max-width: 25em;
}

#results > div > span:nth-child(2) {
    width: 8em;
    max-width: 8em;
}

#results > div > span:nth-child(3) {
    width: 8em;
    max-width: 8em;
}

