name: PR build
on: [pull_request]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust nightly
        run: rustup update nightly && rustup default nightly && rustup component add rustfmt clippy

      - name: Check the code formatting with rustfmt
        run: cargo fmt --all -- --check

      - name: Ensure there are no warnings with Clippy
        run: cargo clippy --all -- -Dwarnings

      - name: Check if the configuration is correct
        run: |
          cargo run -- create-lists
          cargo run -- check-config

  test:
    name: Linux testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust nightly
        run: rustup update nightly && rustup default nightly

      - name: Build Crater
        run: cargo build

      - name: Run Crater tests
        run: |
          cargo run -- create-lists
          cargo test
